<style>
  .btn-search{
    background-color:#fe424d;
    color:#fff;
    /* margin-left: 3px; */
  }
    .btn-search:hover{
opacity: 0.5;
  }
  form.d-flex {
    /* position: relative; */
    left: 100%;
    transform: translateX(-100%);
    /* border-radius: 50%; */
  }
  .btn-search i{
    height: 5rem;
display: inline;
margin-right: 0.5rem;
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link "  href="/"></a>
        <a class="nav-link" href="/listings">Explore!</a>
        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
      <div class="navbar-nav ms-auto">

        <form class="d-flex" role="search" action="/listings/search" method="GET">
  <input
    class="form-control me-2"
    type="search"
    name="q"
    placeholder="Search destination"
    required
  />
  <button class="btn btn-search" type="submit">
    <i class="fas fa-search"></i> Search
  </button>
</form>

       <!-- <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search destination" />
      <button class="btn btn-search" type="submit"><i class="fas fa-search"></i>Search</button>
    </form>  -->
      </div>
    </div>

          <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/listings/new">AIRBNB your HoMe!</a>

            <% if(!currUser) { %>
        <a class="nav-link "  href="/signup"><B>Sign up</B></a>
        <a class="nav-link" href="/login"><B>Login</B></a>
        <%}%>
                    <% if(currUser) { %>

        <a class="nav-link" href="/logout"><B>Logout</B></a>
               <%}%>

        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
    </div>

  </div>
</nav>